body {
    font-family: "Poppins", sans-serif;
}

.page{
    height: 1080px;
    width: 1920px;
}

.create-package-container{
    display: flex;
    height: 720px;
    padding-top: 15px;
}

.select-package-container {
    width: 40%;
    margin-left: 40px;
    margin-right: 40px;
}

.view-package-items-container{
    width: 80%
}

.view-available-packages-container{
    width: 100%;
}

.ddl {
    height: 30px;
    width: 80%;
    margin: 10px;
}

.gridview {
    height: 20px;
    width: 80%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    width: 100%;
    border-collapse: collapse;
    padding-left: 40px;
    padding-right: 40px;
}

    .gridview th {
        position: sticky;
        top: 0;
        background-color: #f8f8f8;
        z-index: 2;
        border-bottom: 2px solid #ddd;
    }

    .gridview td, .gridview th {
        padding: 10px;
        border: 1px solid #ddd;
    }

.button{
    height: 30px;
    width: 90px;
}

.textbox{
    height: 30px;
    width: 200px;
    margin: auto;
}