/*
     CssClass
     su_FirstName
     su_LastName
     su_Username
     su_Password
     su_CfPassword
     su_Email
     su_Phone
     su_BusNum
     su_CompName
     su_CreateAccountBtn
     return-link
 */

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-image: url("/img/Signup-BG.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
}

.signup-container {
    width: 30vw;
    height: 800px   ;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    /*Outside*/
    margin-top: 30px;
    margin-right: 55px;
    margin-bottom: 15px;
    /*Inside*/
    padding: 20px;
}

    .signup-container h1 {
        font-size: 32px;
        margin-bottom: 20px;
        text-align: center;
        color: #1a1a1a;
    }


    .signup-container label {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        color: #5a5a5a;
        font-weight: bold;
        margin-bottom: 10px;
    }

.su_Username,
.su_Password,
.su_CfPassword,
.su_Email,
.su_Phone,
.su_BusNum,
.su_CompName {
    width: 100%;
    padding: 9px;
    border: 1px solid #5A5A5A;
    border-radius: 12px;
    justify-content:center;
}

.su_FirstName {
    width: 190px;
    padding: 9px;
    margin-top: 2px;
    border: 1px solid #5A5A5A;
    border-radius: 12px;
    justify-content: center;
}
.su_LastName {
    width: 190px;
    padding: 9px;
    margin-top: 2px;
    margin-left: 7px;
    border: 1px solid #5A5A5A;
    border-radius: 12px;
    justify-content: center;
}
.su_LastNameLabel {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #5a5a5a;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 7px;
}
.su_CreateAccountBtn {
    width: 350px;
    height: 45px;
    padding: 9px;
    background: #12122d;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    margin-top: 50px;
    margin-bottom: 10px;


    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

    /*Super Estetik Button sheeesh  */
    .su_CreateAccountBtn:hover {
        background: #39a719;
    }

.Div_for_button_na_hindi_macenter {
    display: flex;
    justify-content: center;
}
/* Return to Login Page*/
.return-link {
    font-size: 45px;
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #2F74F2;
    text-decoration: none;
    text-align: center;
}